
        .holder {
            width: 70%;
            height: auto;
            margin: 8px auto;
            padding: 8px;
            text-align: center;

        }

        img:hover {
            width: 55%;
            height: 40%;
            transition: 4s ;
            rotate: y 180deg ;

        }

        img {
            transition: 5s;
            rotate:0deg;
            text-align: center;
            display: block;
            margin: auto;
            margin-bottom: 8px;
            border-radius: 8px;
        }
