/*body{*/
/*    background: #424730;*/
/*}*/
/*.holder {*/
/*    height: 900px;*/
/*    width: 100%;*/
/*    !*border: 2px solid gray;*!*/
/*    padding: 4px;*/
/*    text-align: center;*/

/*}*/

/*#header {*/
/*    padding: 4px;*/
/*    height: 18%;*/
/*    width: 100%;*/
/*    !*border: 2px solid black;*!*/
/*    background: #5b80b2;*/
/*    text-align: center;*/

/*}*/

/*#content {*/
/*    height: 60%;*/
/*    width: 100%;*/
/*    !*border: 2px solid red;*!*/
/*    padding: 4px;*/
/*    margin: 5px 0px;*/
/*}*/

/*#footer {*/
/*    height: 18%;*/
/*    width: 100%;*/
/*    border: 1px solid red;*/
/*    padding: 4px;*/
/*    border-radius: 40px 40px 5px 5px;*/
/*    box-shadow: 1px 0px 35px darkred;*/
/*    background: #ffc300;*/

/*}*/

/*.user_info {*/
/*    width: 20%;*/
/*    height: 90%;*/
/*    !*border: 1px #006b1b groove;*!*/
/*    float: left;*/
/*    !*padding: 40px;*!*/
/*    border-radius: 5px 10px 90px 5px;*/
/*    box-shadow: 10px 2px 20px #006b1b;*/
/*    color: wheat;*/
/*    margin: auto;*/
/*    text-align: center;*/

/*}*/

/*.user_info > h2, h4 {*/
/*    display: inline-block;*/
/*}*/

/*.user_info > a {*/
/*    display: block;*/
/*    text-decoration: none;*/

/*}*/

/*.site_info {*/
/*    width: 20%;*/
/*    height: 90%;*/
/*    border: 1px solid black;*/
/*    float: right;*/
/*    padding: 4px;*/
/*    border-radius: 5px 10px 10px 90px;*/
/*    box-shadow: -10px 0px 20px #006b1b;*/
/*    margin: auto;*/


/*}*/


.holder {
    height: auto;
    width: 100%;
    /*border: 2px solid gray;*/
    padding: 4px;
    text-align: center;

}

#header {
    height: 200px;

    width: 100%;

    background: blue;
    text-align: center;
    border-radius: 20px 20px 13px 3px;

}

#content {
    height: 60%;
    width: 100%;
    border: 2px solid rgb(22, 203, 22);
    margin: 5px 1px;
}

#footer {
    height: 18%;
    width: 100%;
    /*border: 0.5px solid red;*/
    padding: 4px;
    border-radius: 40px 40px 5px 5px;
    box-shadow: 1px 0px 35px #417690;
    background: blue;

}

.user_info:hover {
    width: 20%;
    transition: 2s;
}

.user_info {
    transition: 3s;
    width: 10%;
    height: 90%;
    /*border: 1px #006b1b groove;*/
    float: left;
    border-radius: 20px 10px 90px 5px;
    box-shadow: 10px 2px 20px #006b1b;
    color: white;
    text-align: center;
    background: yellow;

}

.user_info:hover > a {
    background: red;
    rotate: 360deg;
    width: 80%;
    transition: 1s;
    border-radius: 35px;
    color: white;
}

.user_info > a {
    transition: 1s;
    width: 50%;
    font-size: 25px;
    margin: 50px auto;
    text-decoration: none;
    text-align: center;
    height: 22%;
    padding-top: 2%;
    display: none;

}

.user_info > h2, h4 {
    display: inline-block;
    color: black;
}


.site_info {
    width: 20%;
    height: 90%;
    border: 1px solid black;
    float: right;
    padding: 4px;
    border-radius: 5px 10px 10px 90px;
    box-shadow: -10px 0px 20px #006b1b;
    margin: auto;
    background: yellow;


}
