
.car_holder {
    width: 70%;
    height: auto;
    margin: 8px auto;
    padding: 8px;
    text-align: center;
}

.car_holder:hover > .car_img {
    width: 70%;
    height: 60%;
    transition: 4s;
    rotate: y 180deg;
    left: -10%;
}

.car_img {
    width: 50%;
    height: 35%;
    transition: 4s;
    text-align: center;
    display: block;
    margin: 8px auto;
    position: relative;
    left: 60%;
}

.car_show_des {
    margin-bottom: 150px;
    height: auto;
}

.comment {
    box-shadow: 1px 5px 5px gray;
    border-radius: 10px;
    color: blue;
    width: 60%;
    margin: 15px auto;
    padding: 4px;
}

.comment_author {
    border-radius: 0px 10px 10px 0px;
    box-shadow: -5px -5px 5px gray;
    width: 10%
}

.car_comment {
    color: black;
    margin: 7px;
}

.comment_box {
    height: 10%;
    box-shadow: 1px 5px 5px orange;
    border-radius: 10px;
    color: blue;
    width: 60%;
    margin: 15px auto;
    padding: 4px;
}

.text {
    width: 95%;
    display: inline-block;
    height: 100px;
    box-shadow: 1px -5px 5px orange;
    border: none;
    text-align: center;

}

.submit {
    width: 20%;
    height: 24px;
    background: orange;
    border: none;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px
}

.comm_time {
    font-size: 14px;
}
