{% extends '_base.html' %}
{% load static %}
{% load i18n %}

<link rel="stylesheet" href="{% static 'css/car_show_by_brand.css' %}">


{% block page_title %}
    {% translate "Home" %}
{% endblock %}


{% block static %}
    <link rel="stylesheet" href="{% static 'css/car_show_by_brand.css' %}">
{% endblock static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/car_show_by_brand.css' %}">
{% endblock %}


{% block category %}
    <div class="link"> category :
        {% for car in car_brand %}
            <a href="{% url 'pages:show_by_brand' car.pk %}">{{ car.title }} </a>
        {% endfor %}
    </div>
{% endblock %}


{% block content %}
    {% for item in car_brand %}
        <div class="car_brand_holder">
            <div class="left">
                <a href="{{ item.pk }}" class="title">{{ item.title }}  </a>
                <a href="{{ item.pk }}"> <img src="{{ item.image.url }}" class="car_image"></a>
            </div>
            <div class="right">
                <p class="car_des"> {{ item.description|linebreaks }}
            </div>
        </div>
    {% endfor %}
{% endblock %}