{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    {% translate "car" %}
{% endblock %}


<link rel="stylesheet" href="{% static 'css/car_show_by_brand.css' %}">


{% block static %}
    <link rel="stylesheet" href="{% static 'css/car_show_by_brand.css' %}">
{% endblock static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/car_show_by_brand.css' %}">
{% endblock %}


{% block content %}

    <div class="car_holder">
        <h1 class="car_title">{{ car.title }}</h1>
        <img class="car_img" src="{{ car.image.url }}" alt="">
        <p class="car_show_des">{{ car.description }}</p>

        {% if user.is_authenticated %}
            <div class="comment_box">
                <form method="POST">
                    {% csrf_token %}
                    <input class="text" type="text" name="text" placeholder={% translate "type your comment here " %}>
                    <button class="submit" type="submit"> {% translate 'send' %}</button>
                </form>
            </div>

        {% else %}
            <a href="{% url 'login' %}"> {% translate 'for comment, please log in' %}</a>
        {% endif %}
        <br>
        <br>
        <br>

        <p> * {{ comment_count }} {% translate 'comments ' %} *</p>
        {% for comman in comment %}
            <div class="comment">
                <h3 class="comment_author"> {{ comman.author }}</h3>
                <p class="car_comment">{{ comman.text }}</p>
                <span class="comm_time">{{ comman.date_time_created }}</span>
                {#             <span>{{ comman.date_time_modified }}</span>#}
            </div>
        {% endfor %}

    </div>


{% endblock %}





