{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/car_show.css' %}" >
{% endblock %}
{% block content %}
    <div class="holder">
        <h1>{{ car.title }}</h1>
        <img src="{{ car.image.url }}">
        <p>{{ car.description|linebreaks|truncatewords:20 }}</p>
        {% for comman in comment %}
            <p>{{ comman.text }}</p>
        {% endfor %}
    </div>
{% if user.is_authenticated %}
  <form method="post" >
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" title="dddd">
    </form>

{% endif %}

{% endblock %}

