{% extends '_base.html' %}
{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static '/css/home.css' %}">


{% block page_title %}
    {% translate "Home" %}
{% endblock %}


{% block static %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock static %}


{% block style %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}


{% block category %}
    <div class="link"> category :
        {% for car in car %}
            <a href="{% url 'pages:show_by_brand' car.pk %}">{{ car.title }} </a>
        {% endfor %}
    </div>
{% endblock %}


{% block content %}
    {% for item in car %}
        <div class="holder_car">
            <div class="car_brand">
                <a href="{{ item.get_absolute_url }}">
                    <h1 class="car_brand_title">{{ item.title }}</h1>
                    <img class="car_brand_img" src="{{ item.image.url }}">
                </a>
                <p class="car_class_des"> {{ item.description |linebreaks }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}