{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block static %}  {% endblock static %}
    <link rel="stylesheet" href="{% static 'css/car_show.css' %}">
    <link rel="stylesheet" href="{% static 'css/car_show_by_brand.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/_base.css' %}">

    <title>    {% block page_title %}    {% endblock %}    </title>


    <style>

        {% block style %}
        {% endblock %}

    </style>


</head>

<body>

<div class="holder">

    <diV id="header">

        <div class="user_info">
            {% if user.is_authenticated %}
                <h4> {% trans 'welcome' %} </h4>
                <h2>   {{ user.username }}</h2>
                <a href="{% url 'account_logout' %}" target="_self"> {% trans 'log out' %} </a>

            {% else %}
                <a href="{% url 'account_login' %}"> {% trans 'login ? ' %} </a>
            {% endif %}
        </div>


        <span> {% trans 'Car Weel ' %} </span>


        <div class="site_info">
            <a href="{% url 'pages:home' %}"> {% translate 'Home Page' %}</a>
            <a href="{% url 'pages:about_us' %}"> {% translate 'About US' %}</a>
            {% block category %} {% endblock %}
        </div>


    </diV>


    <div id="content">
        {% block content %}

        {% endblock content %}
    </div>


    <div id="footer">
        <p> {% translate ' ALL RIGHT RESERVED ' %} </p>
        <a href="#"></a>
    </div>


    {% block footer %}    {% endblock footer %}


</div>


</body>
</html>