{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="{% static 'css/_base.css' %}">
    <title>     {% block page_title %}    {% endblock %}    </title>
    {% block static %}  {% endblock static%}



</head>

<body>

<div class="holder">

    <div id="header">

        <div class="user_info">

            <img src="">
            {% if user.is_authenticated %}
                <h4> welcome </h4>
                <h2>   {{ user.username }}</h2>
                <a href="{% url 'account_logout' %}" target="_self"> Log Out ?</a>
            {% else %}
                <a href="{% url 'account_login' %}"> Login ?</a>
            {% endif %}

        </div>

        <div class="site_info">
            <img>
            <h1> Car News 😀 </h1>
        </div>
    </div>

    <div id="content">
        {% block content %}

        {% endblock content %}
    </div>

    <div id="footer">
        <p> all right reserved </p>
        <a href="#"></a>
    </div>

</div>


</body>
</html>